<!--<div class="col-md-2 wrapper wrapper-content ">-->
    <!--<div class="outside">-->
        <!--<div class="clearfix pagin-padding">-->
            <!--<div class="nav-list-width">-->
                <!--<span class="title head-title">市列表 </span>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="pagin-padding search">-->
            <!--<input type="text" ng-model="searchParam" placeholder="搜索" class="form-control-input" ng-keyup="keyupvt()">-->
        <!--</div>-->
        <!--<div class="pagin" ng-repeat="item in expanders">-->
            <!--<div class="title nav-List pagin-padding" ng-click="click(item)">-->
                <!--<div class="nav-list-width">-->
                    <!--<span class="nav-list-text">{{item.name}}</span>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="row">
                    <div class="col-md-12">
                        <div id="container1" class="bchart" >

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .bchart{
        height: 1000px;
    }
</style>